.about-section {
  padding: 4rem 2rem;
}

.about-container{
    padding: 0 4rem;
}

.social-icons a {
  color: #333;
  font-size: 2rem;
  transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
  color: #ff6600;
  transform: scale(1.2);
}
