/* Footer styles */
.signature-footer{
	color: var(--muted-white);
	margin-top: 3rem;
	padding: 0 1rem;
}

.signature-footer p{
	font-size: initial;
	font-weight: var(--weight-medium);
	opacity: 0.5;
}