.font-weight-800 {
	font-weight: 800;
}

.font-weight-600 {
	font-weight: 600;
}

.font-weight-500 {
	font-weight: 500;
}

/* TEXT ALIGNMENT */
.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

/* DISPLAY */
.grid {
	display: grid;
}

.flex {
	display: flex;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}

/* FLEXBOX ALIGNMENT */
.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

/* GAPS */
.gap-2 {
	gap: 1rem;
}

/* PADDING */
.py-4 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

/* POSITIONING */
.position-relative {
	position: relative;
}

.z-index-1 {
	z-index: 1;
}

.z-index-10 {
	z-index: 10;
}

/* CURSOR */
.pointer {
	cursor: pointer;
}